{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="main-container">
    <div class="page-header">
        <section class="service-header">
            <h2>联系我们</h2>
            <p>如果您对我们的服务有任何疑问、反馈或咨询，请随时通过以下平台与我们联系。我们很乐意与您联系并为您提供帮助！</p>
        </section>
    </div>
    <div class="inner-container">
        <h2>📞 联系方式</h2>
        <h3>📩 邮箱: Yukichulian@gmail.com</h3>
        <h3>📱 手机号: +1 (236) 863-1886 (短信联系)</h3>

        <div class="social-links">
            <div class="social-item">
                <img src="/static/icons/discord.jpg" alt="Discord">
                <div>
                    <strong>Discord</strong>
                    <p><a href="https://discord.gg/fG9mc87Sbm" class="no-style-link" target="_blank"><u>Yuki初恋会馆</u></a></p>
                </div>
            </div>
            <div class="social-item">
                <img src="/static/icons/instagram.png" alt="Instagram">
                <div>
                    <strong>Instagram</strong>
                    <p><a href="https://instagram.com/yukichulian" class="no-style-link" target="_blank"><u>@Yuki初恋会馆</u></a></p>
                </div>
            </div>
            <div class="social-item">
                <img src="/static/icons/tiktok.jpg" alt="TikTok">
                <div>
                    <strong>抖音</strong>
                    <p><a href="#" class="no-style-link"><u>N/A</u></a></p>
                </div>
            </div>
            <div class="social-item">
                <img src="/static/icons/wechat.png" alt="WeChat">
                <div>
                    <strong>微信</strong>
                    <p>微信号：Yukichulian</p>
                </div>
            </div>
            <div class="social-item">
                <img src="/static/icons/rednote.png" alt="Red Note">
                <div>
                    <strong>小红书</strong>
                    <p>小红书号：95313800798</p>
                </div>
            </div>
        </div>
            
        <p>我们的团队会在工作时间内回复您的咨询, 并确保为您提供最佳体验。请随时联系我们! </p>
        
        <div class="business-hours">
            <h3>营业时间</h3>
            <ul>
                <li><span class="day">周一到周日：</span> <span class="hours">10:00 AM - 10:00 PM</span></li>
            </ul>
        </div>
    </div>
</div>
<script>
    document.querySelector('.large-hero').style.backgroundImage = `url(/static/images/contact.jpg)`;
</script>
{% endblock %}