{% extends "base.html" %}

{% block title %}柚子个人资料{% endblock %}

{% block content %}
<div class="girl-container">
    <div class="profile-card">
        <div class="profile-left">
            <img src="/static/girls/youzi.webp" alt="Person Image" class="profile-img">
            <div class="profile-info">
                <h2>柚子</h2>
                <p><strong>性别：</strong>女</p>
                <p><strong>身高：</strong>164 cm</p>
                <p><strong>年龄：</strong>23</p>
                <p><strong>16型人格 (MBTI)：</strong>ISFP</p>
                <p><strong>星座：</strong>处女座</p>
                <a href="/" class="back-btn">返回主页</a>
            </div>
        </div>

        <div class="profile-card-logo">
            <img src="/static/icons/brand.png" class="profile-logo">
        </div>
    </div>
</div>
{% endblock %}